*{
    padding: 0;
    margin: 0;
    font-family: 'Epilogue', sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: Portago;
    src: url(./fontes/Portago/portago_itc.ttf); 
}

/* menu + background do site */

.menu {
    height: 100vh;
    width: 100%;
    background-image: url(./imagens/photo_2022-07-13_00-10-09.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}


.logo {
    cursor: pointer;
    border-radius: 50%;
    width: 160px;
    height: 125px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    overflow: hidden;
}

nav ul li a {
    color: wheat;
    font-family: Portago;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    text-transform: capitalize;

}

nav ul li a:hover {
    color: orange;
    transition: .4s;
}

/* Botões de inscrição/follow */

.botao {
    background-color: red;
    color: wheat;
    font-size: 20px;
    font-family: Portago;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 30px;
    font-weight: bold;
    text-shadow: 2px 2px black;
    padding: 10px 25px;
    transition: transform .4s;
}

.botao:hover {
    transform: scale(0.8);
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

/* Texto curto na capa da página */

.conteudo h1 {
    color: wheat;
    text-shadow: 2px 2px black;
    margin: 20px 0px 20px;
    font-size: 75px;
    font-weight: 500;
    font-family: Portago;

}

.conteudo h3 {
    color: wheat;
    font-size: 25px;
    margin-bottom: 50px;
}

.conteudo h4 {
    color: wheat;
    letter-spacing: 0px;
    font-size: 20px;
    padding-top: 3px;
}

.conteudo h5 {
    color: wheat;
    font-size: 18px;
    border: 3px solid transparent;
}

#meu-nome {
    text-shadow: 2px 2px black;
    border: 2px solid transparent;
    border-radius: 30px;
    font-weight: bolder;
}

/* hover pra melhorar a visualização */

.conteudo h5:hover {
    background-color: black;
    text-decoration: none;
    border: 7px solid transparent;
    border-width: thin;
    border-radius: 30px;
    border-color: black;
    padding: 8px 12px 8px 12px;
    transition: .4s;

}

.conteudo h4:hover {
    background-color: black;
    text-decoration: none;
    border: 7px solid transparent;
    border-width: thin;
    border-radius: 30px;
    border-color: black;
    padding: 4px 6px 4px 6px;
    transition: .4s
}

.conteudo h3:hover {
    background-color: black;
    text-decoration: none;
    border: 7px solid transparent;
    border-width: thin;
    border-radius: 30px;
    border-color: black;
    padding: 8px 12px 8px 12px;
    transition: .4s;
}

/* box para noticias */

.noticias form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.noticias form input:nth-child(1) {
    display: inline-block;
    width: 100%;
    background-color: black;
    padding: 14px 130px 14px 15px;
    border: 2px solid wheat;
    border-radius: 30px;
}

.noticias form input:nth-child(1)::placeholder {
    color: white;
    font-weight: 600;
}

/* Tentar arrumar o botão abaixo com mais tempo */

.email-icon {
    position: absolute;
    display: inline-block;
    outline: none; /* outline é o contorno */
    border: 2px solid wheat;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: black;
    box-shadow: 0px 0px 5px black, 0px 0px 20px wheat;
    top: 4px;
    right: 6px;
    transition: .4s;
    
}

.email-icon:hover {
    cursor: pointer;
    background-color: red;
}

.email-icon img {
    filter: invert(100%); /* inverter a cor da imagem, no caso aqui era preto e virou branco */
    
    
    
}

/* Sobre Mim */ 

.sobremim {
    width: 100%;
    padding: 100px 0px;
    background-color: black;
}

.sobremim img {
    width: 430px;
    height: auto;
}

.texto-sobremim {
width: 550px;
}

.principal {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.texto-sobremim h2{
    color: wheat;
    font-size: 75px;
    font-family: Portago;
    font-weight: 500;
    margin-bottom: 20px;

}

.texto-sobremim h5 {
    color: wheat;
    letter-spacing: 0.7px;
    font-size: 22px;
    font-family: Portago;
    font-weight: 500;
    margin-bottom: 25px;


}

.texto-sobremim p{
    color: brown;
    line-height: 24px; /* espaçamento de linhas */
    font-size: 18px;
    margin-bottom: 45px;
} 