*{
    padding: 0;
    margin: 0;
    font-family: 'Epilogue', sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: Portago;
    src: url(./fontes/Portago/portago_itc.ttf); 
}

.menu {
    height: 100vh;
    width: 100%;
    background-image: url(./imagens/Background.gif);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: wheat;
    font-size: 50px;
    font-weight: 550;
    font-family: Portago;
    letter-spacing: 0px;
    cursor: pointer;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: wheat;
    font-family: Portago;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    text-transform: capitalize;

}

nav ul li a:hover {
    color: orange;
    transition: .4s;
}

.botao {
    background-color: red;
    color: wheat;
    font-size: 20px;
    font-family: Portago;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 30px;
    font-weight: bold;
    text-shadow: 2px 2px black;
    padding: 10px 25px;
    transition: transform .4s;
}

.botao:hover {
    transform: scale(0.8);
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: wheat;
    text-shadow: 2px 2px black;
    margin: 20px 0px 20px;
    font-size: 75px;
    font-weight: 500;
    font-family: Portago;

}

h3 {
    color: wheat;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: wheat;
    letter-spacing: 0px;
    font-size: 20px;
}

h5 {
    color: wheat;
    font-size: 18px;
    border: 3px solid transparent;
}

#meu-nome {
    text-shadow: 2px 2px black;
    border: 2px solid transparent;
    border-radius: 30px;
    font-weight: bolder;
}

/* hover pra melhorar a visualização */

h5:hover {
    background-color: black;
    text-decoration: none;
    border: 7px solid transparent;
    border-width: thin;
    border-radius: 30px;
    border-color: black;
    padding: 8px 12px 8px 12px;
    transition: .4s;

}

h4:hover {
    background-color: black;
    text-decoration: none;
    border: 7px solid transparent;
    border-width: thin;
    border-radius: 30px;
    border-color: black;
    padding: 4px 6px 4px 6px;
    transition: .4s
}

h3:hover {
    background-color: black;
    text-decoration: none;
    border: 7px solid transparent;
    border-width: thin;
    border-radius: 30px;
    border-color: black;
    padding: 8px 12px 8px 12px;
    transition: .4s;
}


